:root {
    --color0: #101010;
    --color-dafic: #326e76;
    --color-last-section: #343434;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    background: var(--color-last-section);

    color: white;
    font-family: "Ubuntu Mono", monospace;
    text-overflow: ellipsis;

    scroll-behavior: smooth;
}

a:link,
a:visited,
a:active {
    color: white;
}

/* HEADER */

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: var(--color0);
}

#brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em auto 1em 1em;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

#brand-logo {
    max-width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

/* END HEADER */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    width: 100%;
    margin: 1em 0;
}

section#welcome {
    background-color: var(--color-dafic);
    color: white;
}

#welcome-text {
    max-width: 70ch;
    text-align: center;
}

section#activities {
    background-color: #343434;
    color: white
}

#activities-box {
    max-width: 70ch;
    padding: 0.5ch 2ch;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 30px;
    text-align: justify;
}


#activities-box-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1ch;
    width: 100%;
    margin: 1ch;
}

#activities-box-links a {
    width: fit-content;
    padding: 0.5ch;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.9rem;
    text-decoration: none;
    background-color: white;
    color: black;

    transition: 0.3s;
}

#activities-box-links a:hover,
#activities-box-links a:active {
    background-color: var(--color-dafic);
    color: white;
}

/* FOOTER */

footer {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    border-top: 1px solid white;
    margin-top: auto;
    background-color: var(--color0);
}

#footer-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 75%;
    list-style-type: none;
}

#footer-links li {
    padding: 0.5em 1.5em;
}

#footer-links a {
    font-size: 1rem;
    text-decoration: none;
}

#footer-links a:link,
#footer-links a:visited {
    color: #dddddd;
}


#footer-links a:hover,
#footer-links a:focus {
    color: #ffffff;
}

#footer-links a:active {
    color: var(--color-dafic);
}



#socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

.socials-icon {
    width: 32px;
    height: 32px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

@media screen and (max-width: 680px) {

    #footer-links {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    #footer-links li {
        width: 100%;
        text-align: center;
    }

}