:root {
    --color0: #101010;
    --color-dafic: #326e76;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 0;
    margin: 0;

    background: var(--color-dafic);

    color: white;
    font-family: 'Century Gothic', 'Arial', sans-serif;
    text-overflow: ellipsis;

    scroll-behavior: smooth;
}

a:link,
a:visited,
a:active {
    color: white;
}

/* HEADER */

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: var(--color0);
}

#brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em auto 1em 1em;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

#brand-logo {
    max-width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

/* END HEADER */

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding: 5px 30px;
    margin: auto;

    font-size: 20px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    width: 100%;
    margin: 1em 0;
}


/* FOOTER */

footer {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    border-top: 1px solid white;
    background-color: var(--color0);
}

#links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 75%;
    list-style-type: none;
}

#links li {
    padding: 0.5em 1.5em;
}

#socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

#socials a {
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
}

#socials img {
    width: 100%;
}


@media screen and (max-width: 680px) {

    main {
        width: 100%;
    }

    #links {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    #links li {
        width: 100%;
        font-size: 10px;
        text-align: center;
    }

}